* {
    /* border: 1px solid red; */
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

/* <----------------- Member Initial Create -----------------> */

.title {
    font-size: 2em;
}

.form-control {
    margin: 1em;
}

.btn {
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    color: rgb(104,29,168);
}

.btn-primary:hover {
    background-color: rgb(104,29,168);
    border: rgb(104,29,168);
    color: rgb(255, 255, 255);
}

.table-container {
    padding: 1em;
}