.container {
    text-align: center;
}

.container2 {
    margin: auto;
    max-width: 40rem;
}

.title {
    color: rgb(104,29,168);
    font-size: 10em;
    padding: 10px;
}

.title2 {
    color: rgb(104,29,168);
    font-size: 7em;
    padding: 10px;
}

.title3 {
    color: rgb(104,29,168);
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
}

.navbar .title3 {
    color: rgb(104,29,168);
    font-size: 1.5rem;
}

.about {
    text-align: center;
}

.about-list {
    padding: 1rem;
    display: inline-block; 
	text-align: center;
    list-style-type: none;
    line-height: 3em;
    color: rgb(105,105,105);
}

.btn {
    background-color: rgb(128,128,128);
    border: rgb(128,128,128);
    color: rgb(255, 255, 255);
}

.btn-light:hover {
    background-color: rgb(220,220,220);
    border: rgb(220,220,220);
    color: rgb(104,29,168);
    text-decoration: none;
    outline: none;
}

.btn-light:active {
    background-color: rgb(220,220,220);
    border: rgb(220,220,220);
    color: rgb(104,29,168);
    text-decoration: none;
    outline: none;
}

.btn-display {
    border: 1px solid rgb(217,217,214);
    background-color: rgb(255, 255, 255);
    color: rgb(31,32,34);
    width: 100%;
    justify-content: space-between;
    height: 4.5rem;
    padding: 0;
}

.btn-display:hover{
    border: 1px solid rgb(217,217,214);
    background-color: rgb(217,217,214);
    color: rgb(31,32,34);
    width: 100%;
}

.btn-display:active{
    border: 1px solid rgb(217,217,214);
    background-color: rgb(217,217,214);
    color: rgb(31,32,34);
    width: 100%;
}

.link {
    margin: 5px;
}

.table-container {
    padding: 1em;
}

.list {
    max-width: 40rem;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 40rem;
    margin: auto;
    padding-top: 2em;
    color: rgb(169,169,169);
    font-size: 12px;
}

.button-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 4.5rem;
    font-size: 15px;
}

.button-info span {
    padding-left: 10px;
    padding-right: 10px;
}

.button-info .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.button-info .two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.button-info .three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-info .four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list .kind {
    margin: 0;
}

.list .date {
    color: rgb(169,169,169);
    font-size: 10px;
    margin: 0;
}

.form-container form {
    display: grid;
    row-gap: 15px;
    max-width: 40rem;
}

.form-container2 form {
    display: grid;
    row-gap: 15px;
    max-width: 30rem;
}

form {
    display: grid;
    row-gap: 10px;
    margin-bottom: 10px;
}

.form-control {
    text-align: start;
}

.no-debts {
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.settle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    max-width: 40rem;
    margin: auto;
    border-bottom: 1px solid rgb(169,169,169);
}

.settle p {
    margin: 0;
}

.arrow {
    height: 1.7rem;
    align-self: center;
    justify-self: center;
}